<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>is_delta</key><true/>
<key>elapsed_ns</key><integer>5007083625</integer>
<key>hw_model</key><string>MacBookPro18,4</string>
<key>kern_osversion</key><string>21C52</string>
<key>kern_bootargs</key><string></string>
<key>kern_boottime</key><integer>1640281423</integer>
<key>timestamp</key><date>2021-12-23T20:38:36Z</date>
<key>processor</key>
<dict>
<key>clusters</key>
<array>
<dict>
<key>name</key><string>E-Cluster</string>
<key>power</key><integer>177</integer>
<key>hw_resid_counters</key><true/>
<key>freq_hz</key><real>1.88694e+09</real>
<key>idle_ns</key><integer>1836641250</integer>
<key>idle_ratio</key><real>0.366781</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>972</integer>
<key>used_ns</key><integer>419349750</integer>
<key>used_ratio</key><real>0.083745</real>
</dict>
<dict>
<key>freq</key><integer>1332</integer>
<key>used_ns</key><integer>334469875</integer>
<key>used_ratio</key><real>0.0667943</real>
</dict>
<dict>
<key>freq</key><integer>1704</integer>
<key>used_ns</key><integer>511446958</integer>
<key>used_ratio</key><real>0.102137</real>
</dict>
<dict>
<key>freq</key><integer>2064</integer>
<key>used_ns</key><integer>3742192375</integer>
<key>used_ratio</key><real>0.747324</real>
</dict>
</array>
<key>inst_retired</key><real>7.6173e+09</real>
<key>inst_per_clk</key><real>0.898785</real>
<key>cpus</key>
<array>
<dict>
<key>cpu</key><integer>0</integer>
<key>freq_hz</key><real>1.86292e+09</real>
<key>idle_ns</key><integer>2739582583</integer>
<key>idle_ratio</key><real>0.546926</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>972</integer>
<key>used_ns</key><integer>221793208</integer>
<key>used_ratio</key><real>0.0442785</real>
</dict>
<dict>
<key>freq</key><integer>1332</integer>
<key>used_ns</key><integer>169666833</integer>
<key>used_ratio</key><real>0.033872</real>
</dict>
<dict>
<key>freq</key><integer>1704</integer>
<key>used_ns</key><integer>250158125</integer>
<key>used_ratio</key><real>0.0499412</real>
</dict>
<dict>
<key>freq</key><integer>2064</integer>
<key>used_ns</key><integer>1627851583</integer>
<key>used_ratio</key><real>0.324982</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>1</integer>
<key>freq_hz</key><real>1.86844e+09</real>
<key>idle_ns</key><integer>2773715083</integer>
<key>idle_ratio</key><real>0.55374</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>972</integer>
<key>used_ns</key><integer>207029000</integer>
<key>used_ratio</key><real>0.041331</real>
</dict>
<dict>
<key>freq</key><integer>1332</integer>
<key>used_ns</key><integer>171914625</integer>
<key>used_ratio</key><real>0.0343208</real>
</dict>
<dict>
<key>freq</key><integer>1704</integer>
<key>used_ns</key><integer>237000625</integer>
<key>used_ratio</key><real>0.0473144</real>
</dict>
<dict>
<key>freq</key><integer>2064</integer>
<key>used_ns</key><integer>1619394791</integer>
<key>used_ratio</key><real>0.323294</real>
</dict>
</array>
</dict>
</array>
</dict>
<dict>
<key>name</key><string>P0-Cluster</string>
<key>power</key><integer>1430</integer>
<key>hw_resid_counters</key><true/>
<key>freq_hz</key><real>2.36897e+09</real>
<key>idle_ns</key><integer>1980500875</integer>
<key>idle_ratio</key><real>0.395499</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>1240500</integer>
<key>used_ratio</key><real>0.000247723</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>94749750</integer>
<key>used_ratio</key><real>0.0189212</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>130114666</integer>
<key>used_ratio</key><real>0.0259834</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>181480291</integer>
<key>used_ratio</key><real>0.036241</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>543962208</integer>
<key>used_ratio</key><real>0.108627</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>4056054916</integer>
<key>used_ratio</key><real>0.809979</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
<key>inst_retired</key><real>2.62406e+10</real>
<key>inst_per_clk</key><real>2.11264</real>
<key>cpus</key>
<array>
<dict>
<key>cpu</key><integer>2</integer>
<key>freq_hz</key><real>2.37164e+09</real>
<key>idle_ns</key><integer>2862250208</integer>
<key>idle_ratio</key><real>0.571412</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>142833</integer>
<key>used_ratio</key><real>2.85149e-05</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>42179458</integer>
<key>used_ratio</key><real>0.0084206</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>52053958</integer>
<key>used_ratio</key><real>0.0103919</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>73730000</integer>
<key>used_ratio</key><real>0.0147193</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>225022041</integer>
<key>used_ratio</key><real>0.0449228</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>1753704375</integer>
<key>used_ratio</key><real>0.350105</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>3</integer>
<key>freq_hz</key><real>2.37075e+09</real>
<key>idle_ns</key><integer>3400902916</integer>
<key>idle_ratio</key><real>0.678947</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>62416</integer>
<key>used_ratio</key><real>1.24607e-05</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>36378375</integer>
<key>used_ratio</key><real>0.00726248</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>36636125</integer>
<key>used_ratio</key><real>0.00731394</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>52313875</integer>
<key>used_ratio</key><real>0.0104438</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>168963708</integer>
<key>used_ratio</key><real>0.0337315</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>1313825708</integer>
<key>used_ratio</key><real>0.262289</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>4</integer>
<key>freq_hz</key><real>2.37185e+09</real>
<key>idle_ns</key><integer>4150795208</integer>
<key>idle_ratio</key><real>0.828653</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>11791</integer>
<key>used_ratio</key><real>2.35405e-06</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>25882500</integer>
<key>used_ratio</key><real>0.00516711</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>18475208</integer>
<key>used_ratio</key><real>0.00368834</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>26380958</integer>
<key>used_ratio</key><real>0.00526662</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>67642750</integer>
<key>used_ratio</key><real>0.013504</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>719899916</integer>
<key>used_ratio</key><real>0.143719</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>5</integer>
<key>freq_hz</key><real>2.3847e+09</real>
<key>idle_ns</key><integer>4466935250</integer>
<key>idle_ratio</key><real>0.891766</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>14059666</integer>
<key>used_ratio</key><real>0.00280683</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>9680791</integer>
<key>used_ratio</key><real>0.00193264</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>12714333</integer>
<key>used_ratio</key><real>0.00253825</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>36042791</integer>
<key>used_ratio</key><real>0.00719548</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>469656625</integer>
<key>used_ratio</key><real>0.0937609</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
</array>
</dict>
<dict>
<key>name</key><string>P1-Cluster</string>
<key>power</key><integer>81</integer>
<key>hw_resid_counters</key><true/>
<key>freq_hz</key><real>1.117e+09</real>
<key>idle_ns</key><integer>4771735625</integer>
<key>idle_ratio</key><real>0.952911</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>3549740791</integer>
<key>used_ratio</key><real>0.70888</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>946041</integer>
<key>used_ratio</key><real>0.000188924</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>6615291</integer>
<key>used_ratio</key><real>0.00132107</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>57208</integer>
<key>used_ratio</key><real>1.14244e-05</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>32506500</integer>
<key>used_ratio</key><real>0.00649151</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>32968541</integer>
<key>used_ratio</key><real>0.00658378</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>31642000</integer>
<key>used_ratio</key><real>0.00631887</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>110675458</integer>
<key>used_ratio</key><real>0.0221018</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>1242385625</integer>
<key>used_ratio</key><real>0.248103</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
<key>inst_retired</key><real>1.55418e+09</real>
<key>inst_per_clk</key><real>2.45305</real>
<key>cpus</key>
<array>
<dict>
<key>cpu</key><integer>6</integer>
<key>freq_hz</key><real>2.28724e+09</real>
<key>idle_ns</key><integer>4833230166</integer>
<key>idle_ratio</key><real>0.964887</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>7607541</integer>
<key>used_ratio</key><real>0.00151874</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>8500</integer>
<key>used_ratio</key><real>1.69691e-06</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>737875</integer>
<key>used_ratio</key><real>0.000147306</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>34500</integer>
<key>used_ratio</key><real>6.88744e-06</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>4125708</integer>
<key>used_ratio</key><real>0.00082364</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>5531583</integer>
<key>used_ratio</key><real>0.0011043</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>6141958</integer>
<key>used_ratio</key><real>0.00122616</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>10846666</integer>
<key>used_ratio</key><real>0.00216538</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>140852958</integer>
<key>used_ratio</key><real>0.0281193</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>7</integer>
<key>freq_hz</key><real>2.32319e+09</real>
<key>idle_ns</key><integer>4932365250</integer>
<key>idle_ratio</key><real>0.984677</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>2281750</integer>
<key>used_ratio</key><real>0.000455519</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>25000</integer>
<key>used_ratio</key><real>4.9909e-06</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>401000</integer>
<key>used_ratio</key><real>8.0054e-05</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>7083</integer>
<key>used_ratio</key><real>1.41409e-06</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>1816625</integer>
<key>used_ratio</key><real>0.000362663</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>503958</integer>
<key>used_ratio</key><real>0.000100608</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>3093541</integer>
<key>used_ratio</key><real>0.000617582</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>5338750</integer>
<key>used_ratio</key><real>0.00106581</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>63288500</integer>
<key>used_ratio</key><real>0.0126347</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>8</integer>
<key>freq_hz</key><real>2.31077e+09</real>
<key>idle_ns</key><integer>4987789250</integer>
<key>idle_ratio</key><real>0.995741</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>630000</integer>
<key>used_ratio</key><real>0.00012577</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>23583</integer>
<key>used_ratio</key><real>4.70808e-06</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>711708</integer>
<key>used_ratio</key><real>0.000142082</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>136708</integer>
<key>used_ratio</key><real>2.72919e-05</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>1072583</integer>
<key>used_ratio</key><real>0.000214126</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>1984916</integer>
<key>used_ratio</key><real>0.00039626</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>16775499</integer>
<key>used_ratio</key><real>0.00334899</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
<dict>
<key>cpu</key><integer>9</integer>
<key>freq_hz</key><real>2.28114e+09</real>
<key>idle_ns</key><integer>5004531916</integer>
<key>idle_ratio</key><real>0.999083</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>600</integer>
<key>used_ns</key><integer>136583</integer>
<key>used_ratio</key><real>2.72669e-05</real>
</dict>
<dict>
<key>freq</key><integer>828</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1056</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1524</integer>
<key>used_ns</key><integer>222916</integer>
<key>used_ratio</key><real>4.45021e-05</real>
</dict>
<dict>
<key>freq</key><integer>1752</integer>
<key>used_ns</key><integer>12500</integer>
<key>used_ratio</key><real>2.49545e-06</real>
</dict>
<dict>
<key>freq</key><integer>1980</integer>
<key>used_ns</key><integer>375125</integer>
<key>used_ratio</key><real>7.48883e-05</real>
</dict>
<dict>
<key>freq</key><integer>2208</integer>
<key>used_ns</key><integer>517083</integer>
<key>used_ratio</key><real>0.000103228</real>
</dict>
<dict>
<key>freq</key><integer>2448</integer>
<key>used_ns</key><integer>3330291</integer>
<key>used_ratio</key><real>0.000664845</real>
</dict>
<dict>
<key>freq</key><integer>2676</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>2904</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3036</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3132</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3168</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>3228</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
</dict>
</array>
</dict>
</array>
<key>inst_retired</key><real>3.54121e+10</real>
<key>inst_per_clk</key><real>1.64482</real>
<key>ane_energy</key>
<integer>0</integer>
<key>dram_energy</key>
<integer>5097</integer>
<key>cpu_energy</key>
<integer>8451</integer>
<key>gpu_energy</key>
<integer>34</integer>
<key>package_energy</key>
<integer>25675</integer>
</dict>
<key>gpu</key>
<dict>
<key>freq_hz</key><real>8.94759</real>
<key>idle_ns</key><integer>4895382291</integer>
<key>idle_ratio</key><real>0.976987</real>
<key>dvfm_states</key>
<array>
<dict>
<key>freq</key><integer>389</integer>
<key>used_ns</key><integer>115312833</integer>
<key>used_ratio</key><real>0.0230133</real>
</dict>
<dict>
<key>freq</key><integer>486</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>648</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>778</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>972</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
<key>requested_freq</key>
<array>
<dict>
<key>freq</key><integer>389</integer>
<key>used_ns</key><integer>115312833</integer>
<key>used_ratio</key><real>0.0230133</real>
</dict>
<dict>
<key>freq</key><integer>486</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>648</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>778</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>972</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
<dict>
<key>freq</key><integer>1296</integer>
<key>used_ns</key><integer>0</integer>
<key>used_ratio</key><real>0</real>
</dict>
</array>
<key>idle_ns</key><integer>4895382291</integer>
<key>idle_ratio</key><real>0.976987</real>
<key>gpu_energy</key><integer>34</integer>
</dict>
<key>bandwidth_counters</key>
<array>
<dict>
<key>name</key><string>PCPU0 RD</string>
<key>value</key><integer>6660484096</integer>
</dict>
<dict>
<key>name</key><string>PCPU0 WR</string>
<key>value</key><integer>3791804928</integer>
</dict>
<dict>
<key>name</key><string>PCPU0 DCS RD</string>
<key>value</key><integer>3939786752</integer>
</dict>
<dict>
<key>name</key><string>PCPU0 DCS WR</string>
<key>value</key><integer>1056993280</integer>
</dict>
<dict>
<key>name</key><string>PCPU1 RD</string>
<key>value</key><integer>627147776</integer>
</dict>
<dict>
<key>name</key><string>PCPU1 WR</string>
<key>value</key><integer>133918720</integer>
</dict>
<dict>
<key>name</key><string>PCPU1 DCS RD</string>
<key>value</key><integer>226172928</integer>
</dict>
<dict>
<key>name</key><string>PCPU1 DCS WR</string>
<key>value</key><integer>28039168</integer>
</dict>
<dict>
<key>name</key><string>ECPU RD</string>
<key>value</key><integer>3939430400</integer>
</dict>
<dict>
<key>name</key><string>ECPU WR</string>
<key>value</key><integer>2175682048</integer>
</dict>
<dict>
<key>name</key><string>ECPU DCS RD</string>
<key>value</key><integer>2231199744</integer>
</dict>
<dict>
<key>name</key><string>ECPU DCS WR</string>
<key>value</key><integer>388900864</integer>
</dict>
<dict>
<key>name</key><string>GFX RD</string>
<key>value</key><integer>152788992</integer>
</dict>
<dict>
<key>name</key><string>GFX WR</string>
<key>value</key><integer>161679872</integer>
</dict>
<dict>
<key>name</key><string>GFX1 RD</string>
<key>value</key><integer>154269696</integer>
</dict>
<dict>
<key>name</key><string>GFX1 WR</string>
<key>value</key><integer>161319936</integer>
</dict>
<dict>
<key>name</key><string>GFX DCS RD</string>
<key>value</key><integer>143386624</integer>
</dict>
<dict>
<key>name</key><string>GFX DCS WR</string>
<key>value</key><integer>224466944</integer>
</dict>
<dict>
<key>name</key><string>ANS RD</string>
<key>value</key><integer>179265312</integer>
</dict>
<dict>
<key>name</key><string>ANS WR</string>
<key>value</key><integer>91566064</integer>
</dict>
<dict>
<key>name</key><string>ANS DCS RD</string>
<key>value</key><integer>154306560</integer>
</dict>
<dict>
<key>name</key><string>ANS DCS WR</string>
<key>value</key><integer>93110272</integer>
</dict>
<dict>
<key>name</key><string>ISP RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ISP WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ISP DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ISP DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>PCIE LN RD</string>
<key>value</key><integer>92653056</integer>
</dict>
<dict>
<key>name</key><string>PCIE LN WR</string>
<key>value</key><integer>105552864</integer>
</dict>
<dict>
<key>name</key><string>PCIE LN DCS RD</string>
<key>value</key><integer>85430272</integer>
</dict>
<dict>
<key>name</key><string>PCIE LN DCS WR</string>
<key>value</key><integer>112530432</integer>
</dict>
<dict>
<key>name</key><string>STRM CODEC RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>STRM CODEC WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>STRM CODEC DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>STRM CODEC DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>PRORES RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>PRORES WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>PRORES DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>PRORES DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>DISP RD</string>
<key>value</key><integer>1213579968</integer>
</dict>
<dict>
<key>name</key><string>DISP WR</string>
<key>value</key><integer>98317312</integer>
</dict>
<dict>
<key>name</key><string>DISP DCS RD</string>
<key>value</key><integer>661096448</integer>
</dict>
<dict>
<key>name</key><string>DISP DCS WR</string>
<key>value</key><integer>87044096</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP2 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP2 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP2 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP2 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP3 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP3 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP3 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>EXT DISP3 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VDEC RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VDEC WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VDEC DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VDEC DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ANE1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>VENC1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>MSR1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>JPG1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>AFC RD</string>
<key>value</key><integer>12301982720</integer>
</dict>
<dict>
<key>name</key><string>AFC WR</string>
<key>value</key><integer>6046565888</integer>
</dict>
<dict>
<key>name</key><string>AFR_A RD</string>
<key>value</key><integer>152504832</integer>
</dict>
<dict>
<key>name</key><string>AFR_A WR</string>
<key>value</key><integer>161732096</integer>
</dict>
<dict>
<key>name</key><string>AFR_B RD</string>
<key>value</key><integer>153842176</integer>
</dict>
<dict>
<key>name</key><string>AFR_B WR</string>
<key>value</key><integer>161631744</integer>
</dict>
<dict>
<key>name</key><string>AF_I RD</string>
<key>value</key><integer>1545896480</integer>
</dict>
<dict>
<key>name</key><string>AF_I WR</string>
<key>value</key><integer>323361936</integer>
</dict>
<dict>
<key>name</key><string>ATC0 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC0 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC0 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC0 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC1 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC1 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC1 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC1 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC2 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC2 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC2 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC2 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC3 RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC3 WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC3 DCS RD</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>ATC3 DCS WR</string>
<key>value</key><integer>0</integer>
</dict>
<dict>
<key>name</key><string>DCS</string>
<key>value</key><integer>9408274432</integer>
</dict>
<dict>
<key>name</key><string>DCS RD</string>
<key>value</key><integer>7452357632</integer>
</dict>
<dict>
<key>name</key><string>DCS WR</string>
<key>value</key><integer>1955916800</integer>
</dict>
<dict>
<key>name</key><string>DCS CAS</string>
<key>value</key><integer>955650</integer>
</dict>
<dict>
<key>name</key><string>DCS RAS</string>
<key>value</key><integer>432428</integer>
</dict>
<dict>
<key>name</key><string>DCS SR ENTRIES</string>
<key>value</key><integer>202608</integer>
</dict>
<dict>
<key>name</key><string>DCS PD ENTRIES</string>
<key>value</key><integer>1240580</integer>
</dict>
<dict>
<key>name</key><string>DCS SR CYCLES</string>
<key>value</key><integer>606207960</integer>
</dict>
<dict>
<key>name</key><string>DCS PD CYCLES</string>
<key>value</key><integer>578974525</integer>
</dict>
</array>
</dict>
</plist>
